body {
	background-color: #fafafa;
	width: 1000px;
	margin: 0 auto;
}

img {
	width: 500px;
	height: 340px;
	display: block;
	margin: 50px auto;
	cursor: pointer;
}

h2, #cat-count {
	text-align: center;
	margin: 0 auto;
}

#admin-btn {
	display: block;
	text-align: center;
	margin: 0 auto;
}

#admin-form {
	width: 500px;
	margin: 0 auto;
}