body {
	background-color: #fafafa;
	width: 1000px;
	margin: 0 auto;
}

img {
	width: 500px;
	height: 340px;
	display: block;
	margin: 50px auto;
	cursor: pointer;
}

h1, h2 {
	text-align: center;
	margin: 0 auto;
}